extends ../../../../templates/mastersecretary

block prepend main
	.content
		.container-fluid
			.row
				.col-md-12
					.card.strpied-tabled-with-hover
						.card-header
							h4.card-title
								i.nc-icon.nc-grid-45
								|  KAISA CHOIR
						.card-body.table-full-width.table-responsive
							.container
								p.text-uppercase 
									strong Event: 
									| Anointing
								p.text-uppercase 
									strong Event Date: 
									| March 28, 2018
								p.text-uppercase
									strong Place: 
									| 4-A Del rosario st. Marulas Valenzuela City
								p.text-uppercase
									strong IN-CHARGE(Leader): 
									| Jonh Doe
							table.table.table-hover.table-striped
								thead
									th Appoint
									th Name
									th Appoint
									th Name
								tbody
									tr
										td
											.form-check.pl-0.mr-4
												label.form-check-label.p-0
													| &nbsp;
													input.form-check-input(type='checkbox' value='')
													span.form-check-sign
										td John Doe
										td
											.form-check.pl-0.mr-4
												label.form-check-label.p-0
													| &nbsp;
													input.form-check-input(type='checkbox' value='')
													span.form-check-sign
										td  Keen Schwatz
									tr
										td
											.form-check.pl-0.mr-4
												label.form-check-label.p-0
													| &nbsp;
													input.form-check-input(type='checkbox' value='')
													span.form-check-sign
										td Ted Paul
										td
											.form-check.pl-0.mr-4
												label.form-check-label.p-0
													| &nbsp;
													input.form-check-input(type='checkbox' value='')
													span.form-check-sign
										td  Mark Rein
									tr
										td
											.form-check.pl-0.mr-4
												label.form-check-label.p-0
													| &nbsp;
													input.form-check-input(type='checkbox' value='')
													span.form-check-sign
										td Mark Pena
										td
											.form-check.pl-0.mr-4
												label.form-check-label.p-0
													| &nbsp;
													input.form-check-input(type='checkbox' value='')
													span.form-check-sign
										td  Kean Suarez
						.container.d-flex.justify-content-end.m-3
							button.m-1.btn.btn-primary.btn-fill(href="#" data-toggle="modal" data-target="#appointment") Submit
							button.m-1.btn.btn-danger.btn-fill Cancel
		#appointment.modal.fade
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						h5#loginModalLabel.modal-title.font-weight-bold.d-inline Available Coordinators and Priest
						button.close(data-dismiss='modal') ×
					.modal-body
						.row
							.col-6
								label.text-muted IN CHARGE: Jonalyn Fe Ebrada
						.row
							.col-6
								label.text-muted ATTENDEES
						.row
							.col-6
								.label.text-uppercase 1.) Mark Pena
								.label.text-uppercase 2.) Kean Suarez
							.col-6
								.label.text-uppercase 3.) Mark Rein
								.label.text-uppercase 4.) Ted Paul
						.container.d-flex.justify-content-end.m-3
							button.m-1.btn.btn-primary.btn-fill Update
							button.m-1.btn.btn-danger.btn-fill Cancel