extends ../../../../templates/guesthome
block content
    
    //- <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
        <div class="jumbotron">
                <p> Thank you for reserving to this church! </p>
                <p> Please submit a copy of the <b>birth certificate</b> on or before the date of the anointment of your loved one. Thank you and God bless. </p>
                <p> You can submit it personally to the office of the parish, or send it here. (Just go the pending reservations and click the submit requirements button aligned to the reservation id of the reserved event). </p>


        </div>
    </div>