extends ../../../../templates/guesthome
block content
    
    //- <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
        <div class="jumbotron">
                <h1>List of requirements</h1>
                <p> 1.) Birth Certificate </p>
                <p> Payment Voucher: </p>             
                <button type="submit" class="btn btn-primary">Print/Save</button>
        </div>
    </div>    