extends ../../../../templates/main.pug

block content

        <link rel="stylesheet" href="/styles/signup.css">
            <div class="container">
            <div class="jumbotron">
            <form class="form-horizontal" method="post" action= 'signup'>
            <fieldset>
                <legend>SIGN-UP FORM </legend>
                <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Full Name:</label>
                <div class="col-lg-3">
                    input(type="text" name="userlastname" class="form-control" placeholder="Last Name")
                </div>
                <div class="col-lg-3">
                    input(type="text" name="userfirstname" class="form-control" placeholder="First Name")
                </div>
                <div class="col-lg-3">
                    input(type="text" name="usermiddlename" class="form-control" placeholder="Middle Name")
                </div>
                </div>
                <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Gender:</label>
                <div class="col-lg-10">
                    <select class="form-control" name="usergender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                </div>
                <div class="form-group">
                <label for="inputBirthday" class="col-lg-2 control-label">Birthday:</label>
                <div class="col-lg-10">
                     input(type="date" name="userbirthday" class="form-control" placeholder="Enter your birthday")
                </div>
                </div>
                <div class="form-group">
                <label for="inputAddress" class="col-lg-2 control-label">Address:</label>
                <div class="col-lg-10">
                    input(type="string" name="useraddress" class="form-control" placeholder="Enter your address")
                </div>
                </div> 
                <div class="form-group">
                <label for="inputContact" class="col-lg-2 control-label">Contact No:</label>
                <div class="col-lg-10">
                    input(type="string" name="usercontactnumber" class="form-control" placeholder="Enter your contact number")
                </div>
                </div>
            
                <div class="form-group">
                <label for="inputE-mail" class="col-lg-2 control-label">E-mail Address:</label>
                <div class="col-lg-10">
                    input(type="string" name="useremail" class="form-control" placeholder="Enter your e-mail address")
                </div>
                </div>
                <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Username:</label>
                <div class="col-lg-10">
                    input(type="string" name="username" class="form-control" placeholder="Enter your username")
                </div>
                </div>
                <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
                <div class="col-lg-10">
                    <input type="string" name="password" class="form-control" placeholder="Enter your password">
                </div>
                </div>          
                    <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </div>
                    </div>
            </fieldset>
            </form>
            </div>
            </div>
    
            <div class="footer">
                <p> FOLLOW US ON SOCIAL MEDIA </p>
                <i class="fa fa-facebook fa-2x cust" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-2x cust" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-2x cust" aria-hidden="true"></i>
                <i class="fa fa-youtube fa-2x cust" aria-hidden="true"></i>
                <i class="fa fa-google fa-2x cust" aria-hidden="true"></i>
                <i class="fa fa-linkedin fa-2x cust" aria-hidden="true"></i>
                <hr>
                <f2> https://churchtogo.io </f2>
            </div>
