extends ../../../../templates/guesthome

block content
        //- <link rel="stylesheet" href="/styles/funeral.css">
        <div class="container">
        <div class="jumbotron">
        <form class="form-horizontal" method='post' action='funeralmass'>
                
                <fieldset>
                <legend> FUNERAL BLESSSING FORM </legend>
                
                input(type="hidden" name="deadid" value=`${user.int_guestid}`)
                <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Relation:</label>
                <div class="col-lg-10">
                        <select class="form-control" name="deadrelationship">
                        <option >Parent</option>
                        <option >Spouse</option>
                        <option >Sibling</option>
                        <option >Boyfriend/Girlfriend</option>
                        <option >Aunt/Uncle</option>
                        <option >Cousin</option>
                        <option >Grand Child</option>
                        <option >Neice/Nephew</option>
                        <option >Friend</option>
                        </select>
                
                </div>
                </div>
                <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Deceased's Name:</label>
                <div class="col-lg-3">
                <input type="text" name="deadlastname" class="form-control" placeholder="Last Name" minlength="2" maxlength="45" required>
                </div>
                <div class="col-lg-3">
                        <input type="text" name="deadfirstname" class="form-control" placeholder="First Name" minlength="2" maxlength="45" required>
                </div>
                <div class="col-lg-3">
                        <input type="text" name="deadmiddlename" class="form-control" placeholder="Middle Name" minlength="2" maxlength="45">
                </div>
                </div>

                <div class="form-group">
                <label for="inputBirth" class="col-lg-2 control-label">Birth-date:</label>
                <div class="col-lg-10">
                        <input type="date" name="deadbirthday" class="form-control" placeholder="Enter deceased's birth-date" required>
                </div>
                </div>
                <div class="form-group">
                <label for="inputAddress" class="col-lg-2 control-label">Address:</label>
                <div class="col-lg-10">
                        <input type="string" name="deadaddress" class="form-control" placeholder="Enter address" minlength="2" maxlength="70" required>
                </div>
                </div>
                <div class="form-group">
                <label for="inputDate" class="col-lg-2 control-label">Date of Funeral Mass:</label>
                <div class="col-lg-10">
                        <input type="date" name="deaddate" class="form-control" placeholder="Enter funeral mass date" required>
                </div>
                </div>    
                <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Clear</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
                </fieldset>
        </form>
        </div>
        </div>
        
        </div>