extends ../../../../templates/guesthome

block content
    
    //- <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
        <div class="jumbotron">
                <p> Thank you for reserving to this church! </p>
                <p> Please submit a copy of the <b>birth certificate</b> and <b>death certificate</b> before the date of the funeral mass for your loved one(s).</p>
                <p> You can submit it personally to the office of the parish, or send it here. (Just go the pending reservations and click the submit requirements button aligned to the reservation id of the reserved event). </p>
                <p> Condolence and God bless. </p>
        </div>
    </div>
    
    </div>