html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.jumbotron
{
    width: 100%;
    height: 690px;
    text-align: center;
}
legend
{
    font-family: "KG Broken Vessels Sketch Regular";
    font-size: 40px;
}
label
{
    font-family: "KG Broken Vessels Sketch Regular";
    font-size: 15px;
}
.form-control
{
    width: 775px;
    height: 40px;
    border: none;
    padding-left: 20px;
}
input[type="checkbox"],
input[type="string"],
input[type="number"],
input[type="date"],
input[type="password"]
{
    width: 775px;
    height: 30px;
    border: none;
    padding: 20px;
}
input[type="text"]
{
    width: 250px;
    height: 30px;
    border: none;
    padding: 20px;
}
button[type="reset"]
{
    margin: 7px 3px;
    margin-right: 71px;
    float: right;  
    width: 90px;
    height: 50px;
    border: none;
    background-color: grey;
    color: #000;
    font-family: "KG Broken Vessels Sketch Regular";
    font-size: 15px;
}
button[type="submit"]
{
    margin: 7px 3px;
    float: right;
    width: 90px;
    height: 50px;
    border: none;
    background-color: #4F5C81;
    color: #fff;
    font-family: "KG Broken Vessels Sketch Regular";
    font-size: 15px;
}
button[type="reset"]:hover,
button[type="submit"]:hover
{
    background-color: #2D3344; 
    color: #fff;
}
.footer
{
    text-align: center;
    width: 100%;
    height: 200px;
    font-family: "KG Broken Vessels Sketch Regular";
    font-size: 30px;
    margin-bottom: 10px;
}
hr {
    border: none;
    height: 2px;
    color: #333; 
    background-color: #333; 
}