extends ../../../../templates/mastersecretary

block prepend main
	.content
		.container-fluid
			.row
				.col-md-12
					.card.strpied-tabled-with-hover
						.card-header
							h2.card-title
								i.nc-icon.nc-notes
								|  Sacraments
							each resultas in resulta
								h4=resultas.varchar_eventname
								p=resultas.varchar_eventdescription
						.card-body.table-full-width.table-responsive
		.container.d-flex.flex-row.justify-content-end
			//- button.btn.btn-primary.btn-fill.m-2(data-toggle="modal" data-target="#sacraments") Add New Sacrament
			#sacraments.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h5#loginModalLabel.modal-title.font-weight-bold New Service
							button.close(data-dismiss='modal') ×
						.modal-body
							form
								.row
									.col-123333
										.form-group
											label.text-muted Service Title
											input.form-control(type='text', placeholder='Service Title', value='')
								.row
									.col-md-6
										.form-group
											label.text-muted When
											.input-group
												input.form-control(type='text', placeholder='Ex Saturdays - Sundays', value='')
									.col-md-6
										.form-group
											label.text-muted Where
											input.form-control(type='text', placeholder='Metro Manila', value='')
								.row
									.col-12
										.form-group
											label.text-muted Payment
											.input-group
												span.input-group-text ₱
												input.form-control(type='number', placeholder='₱800', value='')
								.row
									.col-12
										label.text-muted Description
										textarea.form-control(placeholder='Description about the sacrament' rows="3")
								.container.d-flex.justify-content-end.m-3
									button.m-1.btn.btn-primary.btn-fill Add Facility
									button.m-1.btn.btn-secondary.btn-fill(data-dismiss='modal') Close