<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible", content="ie=edge">
        <title> Church</title>
        <link rel="icon" type="image/gif" href="/assets/favicon/church-icon.png">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/universal.css">
        <link rel="stylesheet" href="/styles/admin.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/effects/text-float.css">
        <link rel="stylesheet" href="/effects/sleek-button.css">

        //- <link rel="stylesheet" href="/styles/homewithsession.css">
        <link rel="stylesheet" href="/styles/carousel.css">
        <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
            
    </head>
<body>
    <font face="KG Broken Vessels Sketch Regular">
        <form method="POST" action="login" name="login_form">
            <nav class="navbar navbar-inverse navbar-static-top example6">
                <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    
                    </a>
                </div>
                <div id="navbar6" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    //- <li class="dropdown">
                    //-     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sacraments <span class="caret"></span></a>
                    //-     <ul class="dropdown-menu" role="menu">
                    //-     <li><a href="/guest/anointing">Anointing of the sick</a></li>
                    //-     <li><a href="#">Baptism</a></li>
                    //-     <li><a href="#">Confirmation</a></li>
                    //-     <li><a href="#">Funeral blessing</a></li>
                    //-     <li><a href="#">Marriage</a></li>
                        
                    //-     </ul>
                    //- </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href'/login' data-toggle="modal" data-target="#loginModal" style="cursor:pointer;">Log-in </a></li>
                    <li><a href=/signup> Sign-up </a></li>
                    
                    //- <li><a class="fb-share-button" data-href="https://www.facebook.com/Pharmastar-International-Trading-corp-608662995974288/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FPharmastar-International-Trading-corp-608662995974288%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</li>
                    //- <li><a data-href="https://www.facebook.com/Pharmastar-International-Trading-corp-608662995974288/" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                    //-     <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FPharmastar-International-Trading-corp-608662995974288%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><button type="button" class="btn btn-success">Share</button></a></div>




                    </ul>
                    
                </div>
                //- <img src="/assets/gallery/Photo22.jpg" class="headerpic">
                
                </div>
                
            </nav>

            <div class="area">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/assets/pics/Carousel9.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/pics/Carousel2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/pics/Carousel3.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/pics/Carousel5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="/assets/pics/Carousel6.jpg" alt="">
                    </div>
                    //- <div class="item">
                    //-     <img src="/assets/gallery/Photo17.jpg" alt="">
                    //- </div>
                    <div class="item">
                        <img src="/assets/pics/Carousel8.jpg" alt="">
                    </div>
            //-     </div>
            //-     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            //-         <span class="fa fa-angle-left" aria-hidden="true"></span>
            //-         <span class="sr-only">Previous</span>
            //-     </a>
            //-     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            //-         <span class="fa fa-angle-right" aria-hidden="true"></span>
            //-         <span class="sr-only">Next</span>
            //-     </a>
            //-     //- <ol class="carousel-indicators">
            //-     //-     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            //-     //-     <li data-target="#myCarousel" data-slide-to="1"></li>
            //-     //-     <li data-target="#myCarousel" data-slide-to="2"></li>
            //-     //-     <li data-target="#myCarousel" data-slide-to="3"></li>
            //-     //-     <li data-target="#myCarousel" data-slide-to="4"></li>
            //-     //-     <li data-target="#myCarousel" data-slide-to="5"></li>
            //-     //-     <li data-target="#myCarousel" data-slide-to="6"></li>
            //-     //- </ol>
            //- </div>
            </div>


            <div id="loginModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                    <img src="/assets/pics/avatar.png" alt="Avatar" class="avatar">
                    <h1>ChurchtoGo</h1>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="email"></label><span class="glyphicon glyphicon-user"></span><input type="text" class="form-control input-sm" placeholder="Email" id="email" name="user_username">
                    </div>
                    <div class="form-group">  

                    <label class="sr-only" for="password"></label>
                    <span class="glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control input-sm" placeholder="Password" id="password" name="user_password"></div>

                    <button type="submit" class="btn btn-info btn-xs">Sign in</button>
                    </div>
                </form>
                </div>
               
                </div>
                </div>
                </div>
           
    </font>
    
    <footer class="container"> 
        <br>
        
        <div class="footer">
        <p style="padding-bottom: 30px;"> FOLLOW US ON SOCIAL MEDIA </p>
        <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
        <br>
        <hr style="padding-top: 2px; box-shadow: 0 1px 20px 1px rgba(0,0,0,0.3);">
        <p> https://churchtogo.io </p>
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fchurchtogo.herokuapp.com%2Fhome&layout=button_count&size=small&mobile_iframe=true&width=20&height=5px&appId" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
    </footer>
</body>
</html>