
extends ../../../../templates/guesthome

block content 

    <link rel="stylesheet" href="/styles/calendarnew.css">
    
    <div class="container">
    <div class="jumbotron">
    <legend> CANCELLED REQUESTS</legend>
    <div class="btn-group" style="width:100%">
    
    <hr>
    </div>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
            <th>RESERVATION ID</th>
            <th>DESIRED DATE</th>
            <th>EVENT
            //- <th>DATE RESERVED</th>
            
            </tr>
        </thead>
        <tbody>
            each reservations in tbl_reservation
                <tr>
                //- <th></th>
                td=reservations.int_reservationid
                td=reservations.date_schedule
                        //- <td><input type="submit" value="Submit Requirements"></a></td>
                td=reservations.char_event

        </tbody>
    </table>
    </div>
    </div>
    