doctype
html.perfect-scrollbar-on(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
		link(rel='stylesheet' href='/css/fullcalendar.min.css')
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		block addcss
		link(rel="stylesheet" href="/css/light-bootstrap-dashboard.css?v=2.0.1")
		link(rel="stylesheet" href="/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/style.css")
		link(rel='stylesheet' href="/css/custom.css")
		title Church
	body
		block body

	script(src="/js/jquery.min.js")
	script(src="/js/jquery-ui.min.js")
	script(src="/js/popper.min.js")
	script(src="/js/moment.min.js")
	script(src="/js/fullcalendar.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/bootstrap-switch.js")
	script(src="/js/sweetalert2.all.min.js")
	script(src="/js/bootstrap-notify.js")
	script(src="/js/light-bootstrap-dashboard.js?v=2.0.1")
	script(src="/js/perfect-scrollbar.jquery.min.js")
	script(src="/js/custom.js")
	script(src="/js/demo.js")
	block addjs
