extends ./base

block body  
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="/styles/header.css">
            
            
            <font face="KG Broken Vessels Sketch Regular">

            <nav class="navbar navbar-inverse navbar-static-top example6">
                <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    
                    </a>
                </div>
                <div id="navbar6" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/guest/home">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sacraments <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="/guest/anointing">Anointing of the sick</a></li>
                        <li><a href="/guest/baptism">Baptism</a></li>
                        //- <li><a href="/guest/confirmation">Confirmation</a></li>
                        <li><a href="/guest/funeralmass">Funeral blessing</a></li>
                        <li><a href="/guest/privatewedding">Marriage</a></li>
                        
                        </ul>
                    </li>
                    




                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Applications <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="/guest/requests">Requests</a></li>
                        <li><a href="/guest/approved">Approved</a></li>
                        <li><a href="/guest/cancelled">Cancelled</a></li>
                        
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="/guest/profile">My Profile</a></li>
                        <li><a href="#">Messages</a></li>
                        <li><a href="/logout">Sign-out</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
                //- <img src="/assets/gallery/Photo22.jpg" class="headerpic">
            </nav>

            </font>


            div.container
            block content

            <footer class="container"> 
            <br>
            
            <div class="footer">
            <p style="padding-bottom: 30px;"> FOLLOW US ON SOCIAL MEDIA </p>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            <br>
            <hr style="padding-top: 2px; box-shadow: 0 1px 20px 1px rgba(0,0,0,0.3);">
            <p> https://churchtogo.io </p>
            </div>
            </footer>
