extends ./basesecretary
block body
	#loader-wrapper
		#loader
		.loader-section.section-left
		.loader-section.section-right
	.wrapper
		.sidebar(data-color='brown')
			//- .sidebar(data-color='brown' data-image='/img/bg5.jpg')
			.sidebar-wrapper
				.logo.d-flex.justify-content-center
					a(href="/secretary")
						img(src='/img/churchicon.png' alt='' style='height: 70px; width: 70px')
				ul.nav
					li.nav-item
							a.nav-link(href='/secretary')
								i.nc-icon.nc-app
								p Dashboard
					li
						a.nav-link(data-toggle="collapse" href="#maintenance")
							i.nc-icon.nc-single-copy-04
							p Maintenance
								.float-right.dropdown-toggle.d-inline
					.collapse#maintenance
						//- li
						//- 	a.nav-link(href='/secretary/services')
						//- 		i.nc-icon.nc-cart-simple
						//- 		p Services
						li
							a.nav-link(data-toggle="collapse" href="#events")
								i.nc-icon.nc-notes
								p Events
									.float-right.dropdown-toggle.d-inline
						.collapse#events
							ul
								li.nav-item
									a.nav-link(href='/admin/events/sacraments')
										span.h5.mx-2 
										p Sacraments
							ul
								li.nav-item
									a.nav-link(href='/admin/events/seminars')
										span.h5.mx-2 
										p Seminars

							ul
								li.nav-item
									a.nav-link(href='/admin/events/services')
										span.h5.mx-2 
										p Services
                                                                                
						li.nav-item
							a.nav-link(data-toggle="collapse" href='#reservation')
								i.nc-icon.nc-grid-45
								p Transactions
									.float-right.dropdown-toggle.d-inline
						.collapse#reservation
								ul
									li.nav-item
										a.nav-link(href='/admin/transactions/approved')
											span.h5.mx-2 
											p Approved
								ul
									li.nav-item
										a.nav-link(href='/admin/transactions/cancelled')
											span.h5.mx-2 
											p Cancelled
								ul
									li.nav-item
										a.nav-link(href='/admin/transactions/requests')
											span.h5.mx-2 
											p Requests
								
						
						li.nav-item
							a.nav-link(data-toggle="collapse" href='#appoint')
								i.nc-icon.nc-grid-45
								p Appointment
									.float-right.dropdown-toggle.d-inline
						.collapse#appoint
								ul
									li.nav-item
										a.nav-link(href='/admin/appointment/coordinators')
											span.h5.mx-2 
											p Coordinators                                             
								ul
									li.nav-item
										a.nav-link(href='/admin/appointment/members')
											span.h5.mx-2 
											p Members

								ul
									li.nav-item
										a.nav-link(href='/admin/appointment/priests')
											span.h5.mx-2 
											p Priest
								ul
									li.nav-item
										a.nav-link(href='/admin/appointment/pending')
											span.h5.mx-2 
											p Pending          
								ul
									li.nav-item
										a.nav-link(href='/admin/facilities')
											span.h5.mx-2 
											p Facilities                                             
											                                     
						li.nav-item
							a.nav-link(href='/admin/guests')
								i.nc-icon.nc-paper-2
								p Guests
						li.nav-item
							a.nav-link(data-toggle="collapse" href='#staff')
								i.nc-icon.nc-circle-09
								p Staff
									.float-right.dropdown-toggle.d-inline
						.collapse#staff
							ul
								li.nav-item
									a.nav-link(href='#')
										span.h5.mx-2 
										p Coordinators
							ul
								li.nav-item
									a.nav-link(href='#')
										span.h5.mx-2 
										p Priests
							ul
								li.nav-item
									a.nav-link(href='#')
										span.h5.mx-2 
										p Members
					
						
		.main-panel
			//- Navbar
			nav.navbar.navbar-expand-lg.sticky-top
				.container-fluid
					a.navbar-brand(href='/secretary') 
						i.nc-icon.nc-atom
						|  Maintenance
					button.navbar-toggler.navbar-toggler-right(href='', type='button', data-toggle='collapse', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
						i.nc-icon.nc-bullet-list-67
					#navigation.collapse.navbar-collapse.justify-content-end
						ul.nav.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='/logout')
									//- i.nc-icon.nc-zoom-split
									span.d-lg-block Sign-out
							//- li.nav-item.dropdown
							//- 	a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							//- 		span.no-icon Sort By
							//- 	.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							//- 		a.dropdown-item(href='#') Profile
							//- 		a.dropdown-item(href='#') Reports
							//- 		a.dropdown-item(href='#') Activity log
						ul.navbar-nav.ml-auto
							li.nav-item
								//- a.nav-link(href='#pablo')
								//- 	span.no-icon Account
								//- img.img-fluid.rounded-circle.ml-4(src='/img/eldrin.jpg', alt='Card image cap' style="height: 45px;")
							//- li.font-weight-bold &nbsp; Admin
							//- li.nav-item.dropdown
							//- 	a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							//- 		span.no-icon Notification
							//- 	.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							//- 		a.dropdown-item(href='#') Profile
							//- 		a.dropdown-item(href='#') Reports
							//- 		a.dropdown-item(href='#') Activity log
							//- 		.divider
							//- 		a.dropdown-item(href='#') Transactions
							//- li.nav-item
							//- 	a.nav-link(href='/logout')
							//- 		span.no-icon Log out
			block main

			footer.footer
				.container
					nav
						ul.footer-menu
							li
								a(href='#')
									| Home
							li
								a(href='#')
									| Company
							li
								a(href='#')
									| Portfolio
							li
								a(href='#')
									| Blog
						p.copyright.text-center
							| ©
							script.
								document.write(new Date().getFullYear())
							a(href='#')  JONA AND NORME
							| , Ina ng Lupang Pangako Parish
		.fixed-plugin
			.dropdown
				a(href='#', data-toggle='dropdown')
					i.fa.fa-cog.fa-2x  
				ul.dropdown-menu
					li.header-title  Sidebar Style
					li.adjustments-line
						a.switch-trigger(href='javascript:void(0)')
							p Background Image
							label.switch
								input(type='checkbox', data-toggle='switch', checked='', data-on-color='primary', data-off-color='primary')
								span.toggle
							.clearfix
					li.adjustments-line
						a.switch-trigger.background-color(href='javascript:void(0)')
							p Filters
							.pull-right
								span.badge.filter.badge-brown(data-color='brown')
								span.badge.filter.badge-azure(data-color='azure')
								span.badge.filter.badge-grey.active(data-color='grey')
								span.badge.filter.badge-lightblue(data-color='lightblue')
								span.badge.filter.badge-lightpeach(data-color='lightpeach')
								span.badge.filter.badge-purple(data-color='purple')
							.clearfix
					li.header-title Sidebar Images
					li.active
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg1.png', alt='')
					li
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg2.png', alt='')
					li
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg3.png', alt='')
					li
						a.img-holder.switch-trigger(href='javascript:void(0)')
							img(src='/img/bg4.png', alt='')